.container{
    display: grid;
    background-color: lightskyblue;
    grid-template-columns: repeat(4, 1fr);
    border: 3px solid black;
    padding: 10px;
    gap: 20px;
    
}

.container div{
    background-color: lime;
    border: 2px solid red;
    font-size: 35px;
    text-align: center;
    
    
}

.item1{
    grid-column: 1 /span 2;
    grid-row: 1 /span 2;
}

.container1{
    display: grid;
    background-color: lightcoral;
    grid-template-areas: 'header header header header'
    'menu main main main'
    'menu footer footer footer';

     padding: 5px;
     gap: 5px;
                        
}

.container1 div {
  background-color: #f1f1f1;
  color:#000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.item11{
   grid-area: header;
}
item12{
    grid-area: main;

}
item13{
    grid-area: main;
    
}
.item14{
    grid-area: menu;
}
.item15{
    grid-area: footer;
}